.profile-img_container {
    max-width: 60px;
    max-height: 60px;
}

.profile-img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;

}

.search_profile-container {
    display: grid;
    align-items: center;
    gap: 2%;
    grid-template-columns: 15% 83%;

}

.search-container {
    position: sticky;
    top: 0;
    background-color: #ffff;
    padding: 10px 10px 10px 20px;

}

.search-container-wrapper {
    padding: 0px 15px;
    background: #f5f5f5;
    border: 1px solid #8f8888c4;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 50px;
    align-items: center;
}

.search-container-wrapper input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
}

.search-container-wrapper img {
    width: 15px;
    height: 15px;
    object-fit: cover;
}



@media(max-width:992px) {
 
}