body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  /* margin: 25px; */
}

body {
  background-color: #f5f5f5;
}

.container {
  max-width: 1500px;
  margin: auto;
}