.board-view-container {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #ffff;
    overflow: hidden;
    height: 100vh;

}

.board-title_wrapper {
    padding: 0px 20px;
}

.board-items {
    background-color: #ffff;
}

.emoji-icon {
    cursor: pointer;
}

.chat-wrapper {
    height: 100vh;
}

.board-item {
    margin: 5px 0;
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 10px;
}

.board-item p {
    font-weight: 600;
}

.receiver-container,
.sender_container {
    width: fit-content;
    display: flex;
    padding: 10px;
    border-radius: 8px;
    flex-direction: column;
    /* max-width: 250px; */
    word-wrap: break-word;
    gap: 10px;
}

.receiver-container img,
.sender_container img {
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.text-color a {
    color: #0f07df;
}

.waiting-image {
    width: 15px;
    height: 15px;
}

.time-wrapper {
    display: flex;
    gap: 10px;
    align-items: end;
    justify-content: end;
}

.waiting-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.receiver-container video,
.sender_container video {
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.receiver-container {
    background-color: #fff;
}

.receiver-wrapper {
    width: 40%;
    display: flex;
    justify-content: start;

}

.sender_wrapper {
    width: 40%;
    align-self: end;
    display: flex;
    justify-content: end;
}


.sender_container {
    color: #fff;
    background-color: #0b310b93;

}

.sender_container span,
.receiver-container span {
    font-size: 10px;
    align-self: end;
}

.msgs_area {
    width: 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* margin-bottom: 20%; */
    height: 100%;
}


.board_contacts {
    padding: 10px 10px 10px 20px;
    display: flex;
    justify-content: space-between;

}

.contact_profile {
    max-width: 50px;
    max-height: 50px;

}

.contact_profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;

}

.board-Side-bar_container {
    position: relative;
    height: 100%;
    overflow: auto;
}

.board-Side-bar_container::-webkit-scrollbar {
    width: 3px;
    height: 8px;
    display: none;
    background-color: #fff;
}

.board-Side-bar_container::-webkit-scrollbar-thumb {
    border-radius: 10px;

}

.board-Side-bar_container::-webkit-scrollbar-thumb {
    background: #aaa;
}

.chat-area::-webkit-scrollbar {
    display: none;
}

.board_contacts-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact_name span {
    font-size: 14px;
    color: #707991;
}

.contact_name h3,
.chat_profile-name h3 {
    padding-bottom: 5px;

}

.chat-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #ffff;

}

.board_contacts button {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board_contacts button:hover {
    background-color: #f5f5f5;
}

button.activeBtn {
    background-color: #f5f5f5;
}

.new-msg {
    width: 20px;
    height: 20px;
    background-color: #78e378;
    display: inline-block;
    color: #fff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.new-msg_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 0 10px 0 0;
}

.chat-heading_name-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.chat-profile_image {
    max-width: 50px;
    height: 50px;

}

.chat-profile_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.active {
    font-size: 14px;
    color: #707991;
}

.chat-area {
    width: 100%;
    overflow: auto;
    height: calc(100% - 154px);

}

.time-container span {
    display: inline-block;
}

.time-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.chat-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.bg {

    background-color: #3D70B8;
}

.chat-container {

    border-left: 1px solid #D9DCE0;
}

.circle-container {
    position: relative;
    height: 70px;
    width: 70px;
}

.circle-progress {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 5px solid #ACCAFF36;
    border-radius: 50%;
}

.circle-progress::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: #ACCAFF;
    top: -5px;
    left: -5px;
    animation: spin 1s linear infinite;
}

.message-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px 0 10px;
}

.message-container {
    width: 100%;
    max-width: 750px;
    background-color: #ffff;
    border-radius: 7px;
    padding: 15px 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 5% 5% 85% 2%;

}

.attachment-btn {
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.filesUpload {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
}

.emoji-picker {
    display: flex;
    align-items: center;
    position: relative;
}

.sender-name {
    align-self: start !important;
    font-weight: 600;
    color: rgba(1, 27, 1, 0.829);
}

.emoji-picker aside {
    position: absolute;
    bottom: 32px;
}

.send-input {
    width: 100%;
}

.send-input,
.send-btn {
    background-color: transparent;
    border: none;
    outline: none;
}

.send-btn {
    cursor: pointer;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading {
    height: 0;
    width: 0;
    padding: 8px;
    border: 3px solid #ccc;
    border-right-color: #888;
    border-radius: 22px;
    animation: rotate 1s infinite linear;
    position: absolute;
    left: 0%;
    top: 0%;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.send-btn_container {
    position: relative;
    width: 100%;
    height: 100%;
}